body {
  font-family: Verdana, Tahoma, Segoe UI, sans-serif;
}

h1 {
  background-color: rgb(164, 6, 179);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: green;
  font-size: 25px;
}

img {
  height: auto;
  width: 500px;
}

body {
  background-color: rgb(27, 1, 34);
  color: white;
}

ul a {
  background-color: rgb(1, 255, 35);
}

.homelinks li{
  list-style: none;
  padding-top: 10px;
}